 #login{
    
    background-color: #ffffff;
    padding: 20px;
    margin: -400px 0 0 -240px;
    position: absolute;
    top: 80%;
    left: 50%;
    border:100px;
    border-radius: 20px;
    justify-content: center; 
    
    }
#loginpt2{
    background-color: #ffffff;
    padding: 20px;
    margin: -400px 0 0 -240px;
    position: absolute;
    top: 80%;
    left: 70%;
    border:100px;
    border-radius: 20px;
    justify-content: center; 
}

    .form input , label{
        width:250px ;
        height: 60px;
        border: none;
        border-radius: 30px;
        margin: 0, auto;
        margin: 10px; 
        padding: 10px;
        font-family:Courier Bold;
    }
    
        
    
    .form h1{
        text-align: center;
        color: rgb(73, 68, 68);
        font-family:  Courier Bold ;
        
    }
    .form button{
        border: none;
        border-radius: 30px;
        color:rgb(255, 255, 255) ;
        background-color: rgb(73, 68, 68);
        font-family: Courier Bold ;
    }
        .form label{
                font-family: Courier Bold ;
                color:rgb(73, 68, 68);
            text-align: center;}
                
                body{
                    background-image: linear-gradient(to right, rgb(0, 30, 128), rgba(234, 0, 255, 0.855));
                  
                   
                }
                h1{
                    text-align: center;
                }

                button{
                    background-color: rgb(219, 221, 223);
                    border-radius: 20px;
                    border: 10px;
                }